/* 5 Columns */

.col-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 576px) {
    .col-sm-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 768px) {
    .col-md-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 992px) {
    .col-lg-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 1200px) {
    .col-xl-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

body {
    font-family: 'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif;
    font-size: 0.8em;
}

.card,
.list-group {
    margin: 0.5rem;
}

nav {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.125);
}

table .rounded {
    width: 64px;
    height: 64px;
}

.alert {
    margin-bottom: 0;
}

.basic {
    font-weight: bold;
    color: green;
}

.advanced {
    font-weight: bold;
    color: orange;
}

.expert {
    font-weight: bold;
    color: crimson;
}

.master {
    font-weight: bold;
    color: blueviolet;
}

.track,.level,.result_ranking,.result_score {
    font-weight: bold;
}

.table thead th {
    position: sticky !important;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #dee2e6;
}

.table {
    border-collapse: separate !important;
    border-spacing: 0;
    margin: 0;
}

.collapse .table,.collapsing .table{
    margin-top: 16px;
    padding: 0;
}
