/* 5 Columns */

.col-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 576px) {
    .col-sm-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 768px) {
    .col-md-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 992px) {
    .col-lg-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 1200px) {
    .col-xl-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

body {
    font-family: 'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif;
    font-size: 0.8em;
}

#wrap{

}

.subtitle{
    font-size: 0.8em;
}

.card,
.list-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.nav-top {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0.5rem;
}

.nav-bottom {
    border-top: 0.5px solid rgba(0, 0, 0, 0.125);
    margin-top: 0.5rem;
}

table .rounded {
    width: 84px;
    height: 84px;
}

.alert {
    margin-bottom: 0;
}

.basic {
    font-weight: bold;
    color: #22ac38;
}

.advanced {
    font-weight: bold;
    color: #f39800;
}

.expert {
    font-weight: bold;
    color: #e5004f;
}

.master {
    font-weight: bold;
    color: #af0bd2;
}

.frame_basic {
    box-shadow: 0 0 0 1px #fff,
    0 0 0 2px #22ac38;
}

.frame_advanced {
    box-shadow: 0 0 0 1px #fff,
    0 0 0 2px #f39800;
}

.frame_expert {
    box-shadow: 0 0 0 1px #fff,
    0 0 0 2px #e5004f;
}

.frame_master {
    box-shadow: 0 0 0 1px #fff,
    0 0 0 2px #af0bd2;
}

.track,
.level,
.result_ranking,
.result_score {
    font-weight: bold;
}

.table thead th {
    position: sticky !important;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 3px solid #dee2e6;
    margin-bottom: 0;
}

.table .td-top{
    border-top: none;
}

.table {
    border-collapse: separate !important;
    border-spacing: 0;
}

.table-rec {
    margin: 0;
}

.title-long{
    font-size: 0.90em;
}

.collapse .table,
.collapsing .table {
    margin-top: 16px;
    padding: 0;
}

.ranking-1 {
    background-color: gold;
}

.ranking-2 {
    background-color: silver;
}

.ranking-3 {
    background-color: #e68f32;
}

.btn-group{
    margin: 0.5rem;
}

.lv-num{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
